Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [11]:
a="sahil"
print(type(a))
b=[1,2,4,5,"sahil","hello",20.45]
print(type(b))
c=34.45
print(type(c))
d=(2,4,5,"sahil","verma", 3.3)
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [12]:
var1=''
print(type(var1))
var2='[DS,ML,Python]'
print(type(var2))
var3=['DS','ML','Python']
print(type(var3))
var4=1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Answer:
    (i) /
    '/' is use for divide.
    example:
        a=2
        b=2
        c=a/b
        print(c)
    output:
        1
    (ii) %  
    '%' is a modulas and use for to find reminder when we divide a number by another number.
    example:
        a=4
        b=3
        c=a%b
        print(c)
    output:
        1
    (iii) //
    '//' is use for to find the quotient without any decimal number.
    example:
        a=10
        b=3
        c=a//b
        print(c)
    output:
        3
    (iv) **
    '**' is use for to find out the power of any digit.
    example:
        a=2
        b=2
        c=a**b
        print(c)
    output:
        4

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
list=[24,1,2004,"sahil", 'verma', 95.0, 2022,2026,True,5+9j]
for i in list:
    print(i)
    print(type(i))

24
<class 'int'>
1
<class 'int'>
2004
<class 'int'>
sahil
<class 'str'>
verma
<class 'str'>
95.0
<class 'float'>
2022
<class 'int'>
2026
<class 'int'>
True
<class 'bool'>
(5+9j)
<class 'complex'>

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list:
    if i%3!=0:
        print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable:
Immutable is the when no change is possible over time. In Python, if the value of an object cannot be changed over time, then it is known as immutable
example: strings, tuples, etc.
Mutable:
Mutable is when something is changeable or has the ability to change. In Python, ‘mutable’ is the ability of objects to change their values.
example: lists, sets, dictionarys, etc.